@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway','Lucida Sans', 'Lucida Sans Regular', sans-serif;
}

body{
    background-color: #F9F7F3;
}

a {
    text-decoration: none;
}

.flex-container{
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-wrap-wrap{
    flex-wrap: wrap;
}

.flex-row-gap{
    row-gap: 30px;
}

.flex-column-gap{
    column-gap: 30px;
}

.purple-background {
    background-color: #410078;
    color: white;
}

.light-purple-background {
    background-color: #7134a7;
    color: white;
}

.teal-background {
    background-color: #119DA4;
}

.margin-y-twenty {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-x-twenty {
    margin-left:20px;
    margin-right:20px;
}

.content-width {
    width: fit-content;
    padding: 10px;
}

.text-shadow {
    text-shadow: 2px 2px 4px #363434;
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    font-weight: 600;
}

nav ul {
    display: none;
}

#responsive-logo{
    display: inline;
    padding: 10px;
    margin: 0px 15px 0px 30px;
    height: 5em;
}

#logo {
    display: none;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.purple-shadow{
    box-shadow:0px 3px 5px 2px #13004b;
}

/* END HEADER */

/* GET STARTED */
#get-started {
    text-align: center;
    font-size: 30px;
    color: white;
}

.family-background{
    background-image: url("../images/family.jpeg");
    opacity: 50%;
    height: 300px;
    background-size: cover;
}

#get-started a {
display: none;
}

#get-started h1 {
    line-height: 300px;
}

/* END GET STARTED */

/* INDEX BUTTONS */

.anchor-button {
    line-height: 10vh;
    text-align: center;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px #363434;
    font-weight: 600;
    font-size: 45px;
}

/* END INDEX BUTTONS */

/* ARTICLES */

.card-style {
    text-align: center;
    padding: 10px;
    background-color: #5aced5;
    color: #13004b;
}

.card-style h5 {
 font-weight: bold;
}


/* END ARTICLES */

/*FOOTER*/

footer a {
    color: white;
}

footer li a:hover {
    color: white; 
    font-weight: 600;
}

#footer-social {
    font-size: 1.5rem !important;
}

#footer-social a:visited {
    color: white;
}

/*END FOOTER*/

/*FORMS*/
form {
    width: 85%;
}

label {
    font-size: 1.2em;
    display: inline-block;
}

.label {
    font-size: 1.2em;
    display: inline-block;  
    margin-bottom: 12px;
}

/*radio*/
.radio-input-style{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-input-style input{
    position: absolute;
    opacity: 0;
}

.radio-input-style input:checked ~ .checkmark{
    background-color: #5acdd4;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-input-style input:checked ~ .checkmark:after {
    display: block;
}

.radio-input-style .checkmark::after {
    top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*other inputs*/

.input-style {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

input[type=submit]{
    color: white;
    font-size: 20px;
}

input[type=reset]{
    color: white;
    font-size: 20px;
}

select {
    font-size: 1em;
}

/*END FORMS*/  

/*others*/  

#pet-info {
    font-size: 1.3rem;
}

#pet-name {
    padding: 10px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
/*HEADER*/

nav ul {
    display: block;
}

nav ul li a:hover{
    background-color: #7235a8;
}

header img{
    display: inline;
    padding: 10px;
    margin: 0px 15px 0px 30px;
    height: 5em;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.purple-shadow{
    box-shadow:0px 3px 5px 2px #13004b;
}
    
#responsive-logo{
        display: none;
    }
    
#logo {
        display: inline;
        padding: 10px;
        margin: 0px 15px 0px 30px;
        height: 5em;
    }

/* END HEADER */

/* GET STARTED */
#get-started {
    text-align: left;
    font-size: 30px;
    color: white;
}

.family-background{
    opacity: 50%;
    height: 500px;
}

#get-started h1 {
    padding-top: 40px;
    margin-left: 40px;
    line-height: 100px;
}

.teal-shadow {
    box-shadow: 3px 3px 2px #006e75;
}

/* END GET STARTED */

/* INDEX BUTTONS */

.anchor-button {
    box-shadow: 5px 5px 3px #2c0050;
    text-align: center;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px #363434;
    font-weight: 600;
    font-size: 30px;
    border-radius: 3%;
}
        
.anchor-button:hover {
    font-weight: 800;
    text-shadow: none;
    background-color: #7235a8;
}

/* END INDEX BUTTONS */

/* ARTICLES */

.card-style {
    padding: 10px;
    background-color: #5aced5;
    color: #13004b;
}

/* END ARTICLES */

/*FOOTER*/

footer a {
    color: white;
}

#footer-social a:visited {
    color: white;
}

/*END FOOTER*/

/*FORMS*/

/*radio*/
.radio-input-style{
    cursor: pointer;
}

.radio-input-style input{
    cursor: pointer;
}

.radio-input-style:hover input ~ .checkmark{
    background-color: #ccc;
}

/*other inputs*/

input[type=submit]:hover{
    background-color: #006d74;
}

input[type=reset]:hover{
    background-color: #12004a;
}

select {
    font-size: 0.9em;
}

/*END FORMS*/  

/* others */
#dog-gallery a:hover {
    color: white; 
}

#pet-name {
    width: fit-content;
    padding: 10px;
    text-align: start;
}

#pet-info {
    font-size: 1.2rem;
    text-align: start;
}

}

@media only screen and (min-width: 991px){
    .family-background{
        opacity: 50%;
        height: 700px;
    }

    #get-started a {
        margin-left: 40px;
        color: white;
        display: block;
        width: fit-content;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
        background-color: #119DA4;
    }

    #dog-gallery div.card-style:hover{
        transform: scale(1.1,1.1);
    }
    
    .slide-in{
        animation: appear-left 1s ease 0s 1 normal forwards;
    }
    
    @keyframes appear-left {
        0% {
            opacity: 0;
            transform: translateX(-250px);
          }
        
          100% {
            opacity: 1;
            transform: translateX(0);
          }
    }
}