@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;600;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  font-weight: 600; }
  header #responsive-logo {
    display: inline;
    padding: 10px;
    margin: 0px 15px 0px 30px;
    height: 5em; }
  header #logo {
    display: none; }

footer a {
  color: white; }

footer a:hover {
  color: white;
  font-weight: 600; }

footer #footer-social {
  font-size: 1.5rem !important; }

footer #footer-social a:visited {
  color: white; }

body {
  background-color: #F9F7F3; }
  body .white-font-color, body .purple-background, body .light-purple-background, body main #get-started, main body #get-started {
    color: white; }
  body .purple-background {
    background-color: #410078; }
  body .light-purple-background {
    background-color: #7134a7; }
  body .teal-background {
    background-color: #119DA4; }

a {
  text-decoration: none; }

main #get-started {
  text-align: center;
  font-size: 30px; }
  main #get-started .family-background {
    background-image: url("../images/family.jpeg");
    opacity: 50%;
    height: 300px;
    background-size: cover; }
  main #get-started a {
    display: none; }
  main #get-started h1 {
    line-height: 300px; }

main #button-container .anchor-button {
  line-height: 10vh;
  text-align: center;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px #363434;
  font-weight: 600;
  font-size: 45px; }

main .card-style {
  text-align: center;
  padding: 10px;
  background-color: #5aced5;
  color: #13004b; }
  main .card-style h5 {
    font-weight: bold; }

@media only screen and (min-width: 768px) {
  header img {
    display: inline;
    padding: 10px;
    margin: 0px 15px 0px 30px;
    height: 5em; }
  header #responsive-logo {
    display: none; }
  header #logo {
    display: inline;
    padding: 10px;
    margin: 0px 15px 0px 30px;
    height: 5em; }
  main #get-started {
    text-align: left; }
    main #get-started .family-background {
      height: 500px; }
    main #get-started h1 {
      padding-top: 40px;
      margin-left: 40px;
      line-height: 100px; }
  main #button-container .anchor-button {
    box-shadow: 5px 5px 3px #2c0050;
    font-size: 30px;
    border-radius: 3%; }
    main #button-container .anchor-button :hover {
      font-weight: 800;
      text-shadow: none;
      background-color: #7235a8; } }

@media only screen and (min-width: 991px) {
  main #get-started .family-background {
    height: 700px; }
  main #get-started a {
    margin-left: 40px;
    color: white;
    display: block;
    width: fit-content;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #119DA4; } }
