@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway','Lucida Sans', 'Lucida Sans Regular', sans-serif;
}

body{
    background-color: #F9F7F3;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container{
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.flex-centered-container{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap-wrap{
    flex-wrap: wrap;
}

.flex-row-gap{
    row-gap: 30px;
}

.flex-column-gap{
    column-gap: 30px;
}

.flex-container-padding{
    padding: 30px;
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.purple-background {
    background-color: #410078;
    color: white;
}

.light-purple-background {
    background-color: #7134a7;
    color: white;
}

.teal-background {
    background-color: #119DA4;
}

.light-teal-background {
    background-color: #5acdd4;
}

.dark-teal-background {
    background-color: #006e75;
}

.list-style-none {
    list-style-type: none;
    overflow: hidden;
}

.rounded-corners {
    border-radius: 3%;
}

.margin-y-twenty {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-x-twenty {
    margin-left:20px;
    margin-right:20px;
}

.content-width {
    width: fit-content;
    padding: 10px;
}

.text-shadow {
    text-shadow: 2px 2px 4px #363434;
}

.line-height li{
    line-height: 2em;
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    font-weight: 600;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:80%;
    height: max-content;
}

nav ul li a:hover{
    background-color: #7235a8;
}

header img{
    display: inline;
    padding: 10px;
    margin: 0px 15px 0px 30px;
    height: 5em;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.padding-y {
    padding: 10px 0px;
}

.purple-shadow{
    box-shadow:0px 3px 5px 2px #13004b;
}

/* END HEADER */

/* GET STARTED */
.relative-container {
    position: relative;
    text-align: center;
    color: white;
}

.relative-container img {
    opacity: 50%;
    width: 100%;
}

.relative-container div {
    position: absolute;
    top: 100px;
    left: 43px;
    font-size: 30px;
}

.relative-container a {
    color: white;
    display: block;
    width: fit-content;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #119DA4;
}

.relative-container a:hover {
    font-weight: 600;
}

.teal-shadow {
    box-shadow: 3px 3px 2px #006e75;
}

/* END GET STARTED */

/* INDEX BUTTONS */

#main-button-section {
    height: 300px;
}

.anchor-button {
    height: 50%;
    width: 25%;
    box-shadow: 5px 5px 3px #2c0050;
    text-align: center;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px #363434;
    font-weight: 600;
    font-size: 30px;
}
        
.anchor-button:hover {
    font-weight: 800;
    text-shadow: none;
    background-color: #7235a8;
}

/* END INDEX BUTTONS */

/* ARTICLES */
.article-item {
    width:80%;
    text-align: center;
    flex-direction: column;
    font-size: 20px;
    margin: auto;
}

.icon-plus {
margin-top: 15px;
}

.icon-plus span {
    font-size: 40px;
}

.card-style {
    padding: 10px;
    background-color: #5aced5;
    color: #13004b;
}

.card-style h3 {
    border-bottom: 1px solid white;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

/* END ARTICLES */

/*FOOTER*/

footer a {
    color: white;
}

.flex-footer {
    padding: 30px;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-links{
    width: 60%;
}

#footer-social {
    width: 30%;
}

#footer-social a:visited {
    color: white;
}

/*END FOOTER*/

/*FORMS*/
form {
    width: 55%;
}

label {
    font-size: 1.2em;
    display: inline-block;
}

.label {
    font-size: 1.2em;
    display: inline-block;  
    margin-bottom: 12px;
}

/*radio*/
.radio-input-style{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-input-style input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-input-style:hover input ~ .checkmark{
    background-color: #ccc;
}

.radio-input-style input:checked ~ .checkmark{
    background-color: #5acdd4;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-input-style input:checked ~ .checkmark:after {
    display: block;
}

.radio-input-style .checkmark::after {
    top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*other inputs*/
.input-style {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

input[type=submit]{
    color: white;
    font-size: 20px;
}

input[type=submit]:hover{
    background-color: #006d74;
}

input[type=reset]{
    color: white;
    font-size: 20px;
}

input[type=reset]:hover{
    background-color: #12004a;
}

/*END FORMS*/  

/*others*/  

.fourty-percent-width {
    width: 40%;
}

.fourty-percent-width img {
    width: 100%;
}

#pet-info {
    font-size: 1.3rem;
}

