$white: white;
$cream_white: #F9F7F3;
$purple: #410078;
$light_purple: #7134a7;
$dark_purple: #2c0050;
$hover_purple: #7235a8;
$teal: #119DA4;
$light_teal: #5aced5;
$dark_teal: #006e75;
$brown_gray: #363434;
$blue_text: #13004b;
$family_background_height: 300px;