@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import "_variables";
@import "_header";
@import "_footer";

a {
    text-decoration: none;
}

.white-font-color {
    color: $white;  
}
 
.purple-background {
    @extend .white-font-color;
    background-color: $purple;
}

.light-purple-background {
    @extend .white-font-color;
    background-color: $light_purple;
}

.teal-background {
    background-color: $teal;
}

.teal-shadow {
    box-shadow: 3px 3px 2px $dark_teal;
}

.margin-y-twenty {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-x-twenty {
    margin-left:20px;
    margin-right:20px;
}

.content-width {
    width: fit-content;
    padding: 10px;
}

.text-shadow {
    text-shadow: 2px 2px 4px $brown_gray;
}

body {
    background-color: $cream_white;
}

main {
    #get-started {
        @extend .white-font-color;
        text-align: center;
        font-size: 30px;
       
        .family-background{
            background-image: url("../images/family.jpeg");
            opacity: 50%;
            height: $family_background_height;
            background-size: cover;
        }

        a{
            display: none;
        }

        h1 {
            line-height: 300px;
        }
    }
    
    .anchor-button {
            line-height: 10vh;
            text-align: center;
            text-decoration: none;
            color: $white;
            text-shadow: 2px 2px 4px $brown_gray;
            font-weight: 600;
            font-size: 45px;
    }

    .card-style {
        text-align: center;
        padding: 10px;
        background-color: $light_teal;
        color: $blue_text;

        h5 {
            font-weight: bold;
        }
    }

    #dog-gallery a:hover {
        @extend .white-font-color;
    }
    
    .flex-container{
        margin: 20px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .flex-container-wrap{
        @extend .flex-container;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 30px;
    }

    #pet-info {
        font-size: 1.3rem;
    }
    
    #pet-name {
        padding: 10px;
        text-align: center;
    }

    form {
        width: 85%;
        label{
            font-size: 1.2em;
            display: inline-block;  
        }
        .label {
            font-size: 1.2em;
            display: inline-block;  
            margin-bottom: 12px;
        }
        input[type=reset], input[type=submit]{
            @extend .white-font-color;
            font-size: 20px; 
        }
        select{
            font-size: 1em;
        }

        .input-style {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box; 
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border-radius: 50%;
            :after {
                content: "";
                position: absolute;
                display: none;
            }
        }

        .radio-input-style{
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            input{
                position: absolute;
                opacity: 0;
                :checked~ .checkmark{
                    background-color: $light_teal;
                    :after {
                        display: block;
                    }
                }
            }
          }
        
        .radio-input-style .checkmark::after {
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $white;
        }
    }
}

@media only screen and (min-width: 768px) {
    main {
        #get-started{
            text-align: left;
            .family-background {
                height: $family_background_height + 200px;
            }
            h1 {
                padding-top: 40px;
                margin-left: 40px;
                line-height: 100px;
            }
        }
        .anchor-button {
                box-shadow: 5px 5px 3px $dark_purple;  
                font-size: 30px;  
                border-radius: 3%;
                :hover {
                    font-weight: 800;
                    text-shadow: none;
                    background-color: $hover_purple;  
                }
        }
        #pet-name {
            width: fit-content;
            padding: 10px;
            text-align: start;
        }
        #pet-info {
            font-size: 1.2rem;
            text-align: start;
        }
        form{
            input[type=submit]:hover{
                background-color: $dark_teal;
            }        
            input[type=reset]:hover{
                background-color: $dark_purple;
            }

            .radio-input-style{
                cursor: pointer;
                :hover input ~ .checkmark{
                    background-color: #ccc;
                }
            }

            select{
                font-size: 0.9em;
            }
        }
    }
}

@media only screen and (min-width: 991px){
    main {
        #get-started{
            .family-background{
                height: $family_background_height + 400px;
            }
            a {
                margin-left: 40px;
                color: $white;
                display: block;
                width: fit-content;
                text-align: left;
                padding: 14px 16px;
                text-decoration: none;
                background-color: $teal; 
            }
        }
        
    }

        #dog-gallery div.card-style:hover{
        transform: scale(1.1,1.1);
    }

    .slide-in{
        animation: appear-left 1s ease 0s 1 normal forwards;
    }
    
    @keyframes appear-left {
        0% {
            opacity: 0;
            transform: translateX(-250px);
          }
        
          100% {
            opacity: 1;
            transform: translateX(0);
          }
    }
}